@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilo para el bocadillo de Leaflet */
.leaflet-popup {
    @apply bg-gray-800 text-white rounded-lg shadow-lg; /* Usando Tailwind CSS */
}

.leaflet-popup h3 {
    @apply text-red-700; /* Usando Tailwind CSS */
}

.leaflet-popup p {
    @apply text-white; /* Usando Tailwind CSS */
}



@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background: linear-gradient(270deg, #38b2ac, #84cc16);
    background-size: 400% 400%;
    animation: gradient-animation 5s ease infinite;
}